<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>T</key>
      <integer>-10</integer>
      <key>igrave</key>
      <integer>-20</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>V</key>
      <integer>-25</integer>
      <key>igrave</key>
      <integer>-20</integer>
      <key>parenright</key>
      <integer>-40</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>F</key>
      <integer>10</integer>
      <key>R</key>
      <integer>25</integer>
      <key>T</key>
      <integer>55</integer>
      <key>V</key>
      <integer>50</integer>
      <key>c</key>
      <integer>-10</integer>
      <key>g.ss01</key>
      <integer>-15</integer>
      <key>igrave</key>
      <integer>20</integer>
      <key>j</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.E</key>
      <integer>30</integer>
      <key>public.kern2.I</key>
      <integer>25</integer>
      <key>public.kern2.U</key>
      <integer>30</integer>
      <key>public.kern2.Y</key>
      <integer>70</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.e</key>
      <integer>-10</integer>
      <key>public.kern2.i</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>v</key>
      <integer>20</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>V</key>
      <integer>-20</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>R</key>
      <integer>10</integer>
      <key>V</key>
      <integer>20</integer>
      <key>igrave</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>45</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>35</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>R</key>
      <integer>20</integer>
      <key>igrave</key>
      <integer>50</integer>
      <key>public.kern2.A</key>
      <integer>30</integer>
      <key>public.kern2.Y</key>
      <integer>55</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-80</integer>
      <key>V</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
    </dict>
    <key>M</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>20</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>20</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>R</key>
      <integer>20</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>20</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>V</key>
      <integer>-10</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>V</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>10</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>V</key>
      <integer>-10</integer>
      <key>igrave</key>
      <integer>-25</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>R</key>
      <integer>25</integer>
      <key>V</key>
      <integer>20</integer>
      <key>igrave</key>
      <integer>20</integer>
      <key>itilde</key>
      <integer>35</integer>
      <key>public.kern2.E</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>40</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.e</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>r</key>
      <integer>-40</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>R</key>
      <integer>30</integer>
      <key>V</key>
      <integer>30</integer>
      <key>c</key>
      <integer>-28</integer>
      <key>d</key>
      <integer>-28</integer>
      <key>g.ss01</key>
      <integer>-30</integer>
      <key>igrave</key>
      <integer>30</integer>
      <key>o</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.E</key>
      <integer>25</integer>
      <key>public.kern2.I</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>60</integer>
      <key>public.kern2.a</key>
      <integer>-28</integer>
      <key>public.kern2.e</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-15</integer>
      <key>q</key>
      <integer>-28</integer>
      <key>s</key>
      <integer>-30</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>V</key>
      <integer>25</integer>
      <key>W</key>
      <integer>50</integer>
      <key>d</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.E</key>
      <integer>20</integer>
      <key>public.kern2.U</key>
      <integer>15</integer>
      <key>public.kern2.Y</key>
      <integer>45</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.e</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>q</key>
      <integer>-20</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>15</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>35</integer>
    </dict>
    <key>a.ss01</key>
    <dict>
      <key>T</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>t</key>
      <integer>-10</integer>
    </dict>
    <key>at</key>
    <dict>
      <key>parenright</key>
      <integer>-30</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>T</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>backslash</key>
      <integer>-80</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>T</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>d</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>20</integer>
    </dict>
    <key>dcaron</key>
    <dict>
      <key>p</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-60</integer>
      <key>public.kern2.c</key>
      <integer>-60</integer>
      <key>public.kern2.e</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.r</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-40</integer>
      <key>q</key>
      <integer>-50</integer>
    </dict>
    <key>dcroat</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.c</key>
      <integer>-15</integer>
      <key>public.kern2.e</key>
      <integer>-15</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>q</key>
      <integer>-10</integer>
    </dict>
    <key>f_f.dlig</key>
    <dict>
      <key>b</key>
      <integer>50</integer>
      <key>public.kern2.h</key>
      <integer>50</integer>
      <key>public.kern2.i</key>
      <integer>35</integer>
      <key>public.kern2.l</key>
      <integer>50</integer>
      <key>public.kern2.t</key>
      <integer>40</integer>
    </dict>
    <key>five</key>
    <dict>
      <key>slash</key>
      <integer>-20</integer>
    </dict>
    <key>g.ss01</key>
    <dict>
      <key>g.ss01</key>
      <integer>15</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>T</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
    </dict>
    <key>i</key>
    <dict>
      <key>v</key>
      <integer>20</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>T</key>
      <integer>-55</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>T</key>
      <integer>-55</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>T</key>
      <integer>-35</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>T</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>B</key>
      <integer>20</integer>
      <key>D</key>
      <integer>20</integer>
      <key>F</key>
      <integer>20</integer>
      <key>H</key>
      <integer>20</integer>
      <key>K</key>
      <integer>20</integer>
      <key>L</key>
      <integer>20</integer>
      <key>M</key>
      <integer>20</integer>
      <key>N</key>
      <integer>20</integer>
      <key>P</key>
      <integer>20</integer>
      <key>R</key>
      <integer>20</integer>
      <key>at</key>
      <integer>-30</integer>
      <key>public.kern2.E</key>
      <integer>20</integer>
      <key>public.kern2.U</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>T</key>
      <integer>-15</integer>
      <key>V</key>
      <integer>-53</integer>
      <key>W</key>
      <integer>-33</integer>
      <key>g.ss01</key>
      <integer>15</integer>
      <key>public.kern2.A</key>
      <integer>30</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>20</integer>
      <key>v</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>35</integer>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>R</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>35</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>C</key>
      <integer>10</integer>
      <key>V</key>
      <integer>-10</integer>
      <key>public.kern2.U</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>35</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>B</key>
      <integer>35</integer>
      <key>D</key>
      <integer>35</integer>
      <key>F</key>
      <integer>35</integer>
      <key>H</key>
      <integer>35</integer>
      <key>K</key>
      <integer>35</integer>
      <key>L</key>
      <integer>35</integer>
      <key>M</key>
      <integer>35</integer>
      <key>N</key>
      <integer>35</integer>
      <key>P</key>
      <integer>36</integer>
      <key>R</key>
      <integer>35</integer>
      <key>T</key>
      <integer>50</integer>
      <key>V</key>
      <integer>70</integer>
      <key>W</key>
      <integer>50</integer>
      <key>X</key>
      <integer>20</integer>
      <key>c</key>
      <integer>-20</integer>
      <key>igrave</key>
      <integer>60</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.E</key>
      <integer>35</integer>
      <key>public.kern2.I</key>
      <integer>35</integer>
      <key>public.kern2.U</key>
      <integer>25</integer>
      <key>public.kern2.Y</key>
      <integer>85</integer>
      <key>public.kern2.a</key>
      <integer>-28</integer>
      <key>public.kern2.e</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.d</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>0</integer>
      <key>public.kern2.r</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.z</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>V</key>
      <integer>75</integer>
      <key>b</key>
      <integer>50</integer>
      <key>public.kern2.W</key>
      <integer>80</integer>
      <key>public.kern2.Y</key>
      <integer>80</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.h</key>
      <integer>50</integer>
      <key>public.kern2.i</key>
      <integer>35</integer>
      <key>public.kern2.k</key>
      <integer>50</integer>
      <key>public.kern2.l</key>
      <integer>50</integer>
      <key>public.kern2.t</key>
      <integer>40</integer>
      <key>public.kern2.y</key>
      <integer>40</integer>
      <key>v</key>
      <integer>40</integer>
      <key>w</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>T</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.e</key>
      <integer>-1</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>c</key>
      <integer>-15</integer>
      <key>d</key>
      <integer>-15</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.e</key>
      <integer>-15</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>10</integer>
      <key>public.kern2.y</key>
      <integer>50</integer>
      <key>q</key>
      <integer>-15</integer>
      <key>v</key>
      <integer>40</integer>
      <key>w</key>
      <integer>25</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>w</key>
      <integer>10</integer>
      <key>y</key>
      <integer>5</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>T</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-15</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>slash</key>
      <integer>-100</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>four</key>
      <integer>-50</integer>
      <key>slash</key>
      <integer>-80</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>c</key>
      <integer>-20</integer>
      <key>d</key>
      <integer>-25</integer>
      <key>g.ss01</key>
      <integer>-5</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.e</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.y</key>
      <integer>30</integer>
      <key>q</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-15</integer>
      <key>v</key>
      <integer>40</integer>
      <key>w</key>
      <integer>15</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>c</key>
      <integer>-15</integer>
      <key>d</key>
      <integer>-15</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.e</key>
      <integer>-15</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>q</key>
      <integer>-15</integer>
    </dict>
    <key>yen</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>55</integer>
    </dict>
  </dict>
</plist>
