<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>T</key>
      <integer>-10</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>T</key>
      <integer>-30</integer>
      <key>parenright</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>15</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>T</key>
      <integer>10</integer>
      <key>V</key>
      <integer>40</integer>
      <key>c</key>
      <integer>-47</integer>
      <key>d</key>
      <integer>-47</integer>
      <key>g.ss01</key>
      <integer>-47</integer>
      <key>j</key>
      <integer>-27</integer>
      <key>m</key>
      <integer>-20</integer>
      <key>n</key>
      <integer>-20</integer>
      <key>p</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-85</integer>
      <key>public.kern2.Y</key>
      <integer>45</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.e</key>
      <integer>-47</integer>
      <key>public.kern2.i</key>
      <integer>-22</integer>
      <key>public.kern2.o</key>
      <integer>-47</integer>
      <key>public.kern2.u</key>
      <integer>-45</integer>
      <key>q</key>
      <integer>-47</integer>
      <key>r</key>
      <integer>-33</integer>
      <key>s</key>
      <integer>-44</integer>
      <key>t</key>
      <integer>-20</integer>
      <key>v</key>
      <integer>-10</integer>
      <key>w</key>
      <integer>-27</integer>
      <key>x</key>
      <integer>-47</integer>
      <key>y</key>
      <integer>-20</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>V</key>
      <integer>49</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>c</key>
      <integer>-25</integer>
      <key>d</key>
      <integer>-30</integer>
      <key>public.kern2.e</key>
      <integer>-25</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-25</integer>
      <key>q</key>
      <integer>-25</integer>
      <key>s</key>
      <integer>-20</integer>
      <key>t</key>
      <integer>-10</integer>
      <key>v</key>
      <integer>-25</integer>
      <key>w</key>
      <integer>-35</integer>
      <key>y</key>
      <integer>-25</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>M</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>20</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>20</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>25</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>V</key>
      <integer>15</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>V</key>
      <integer>20</integer>
      <key>public.kern2.A</key>
      <integer>10</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>V</key>
      <integer>10</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>V</key>
      <integer>30</integer>
      <key>W</key>
      <integer>35</integer>
      <key>c</key>
      <integer>-80</integer>
      <key>d</key>
      <integer>-80</integer>
      <key>g.ss01</key>
      <integer>-70</integer>
      <key>igrave</key>
      <integer>15</integer>
      <key>itilde</key>
      <integer>45</integer>
      <key>j</key>
      <integer>-40</integer>
      <key>m</key>
      <integer>-110</integer>
      <key>n</key>
      <integer>-110</integer>
      <key>p</key>
      <integer>-110</integer>
      <key>public.kern2.Y</key>
      <integer>50</integer>
      <key>public.kern2.a</key>
      <integer>-90</integer>
      <key>public.kern2.e</key>
      <integer>-80</integer>
      <key>public.kern2.i</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.u</key>
      <integer>-80</integer>
      <key>q</key>
      <integer>-80</integer>
      <key>r</key>
      <integer>-80</integer>
      <key>s</key>
      <integer>-80</integer>
      <key>v</key>
      <integer>-70</integer>
      <key>w</key>
      <integer>-70</integer>
      <key>x</key>
      <integer>-75</integer>
      <key>y</key>
      <integer>-72</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>V</key>
      <integer>50</integer>
      <key>c</key>
      <integer>-60</integer>
      <key>d</key>
      <integer>-60</integer>
      <key>g.ss01</key>
      <integer>-45</integer>
      <key>j</key>
      <integer>-30</integer>
      <key>m</key>
      <integer>-25</integer>
      <key>n</key>
      <integer>-30</integer>
      <key>p</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.E</key>
      <integer>5</integer>
      <key>public.kern2.Y</key>
      <integer>43</integer>
      <key>public.kern2.a</key>
      <integer>-38</integer>
      <key>public.kern2.e</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <integer>-25</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-25</integer>
      <key>q</key>
      <integer>-60</integer>
      <key>r</key>
      <integer>-30</integer>
      <key>s</key>
      <integer>-33</integer>
      <key>w</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-20</integer>
      <key>y</key>
      <integer>10</integer>
      <key>z</key>
      <integer>-38</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>W</key>
      <integer>55</integer>
      <key>c</key>
      <integer>-35</integer>
      <key>d</key>
      <integer>-35</integer>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>35</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.e</key>
      <integer>-25</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>q</key>
      <integer>-35</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>15</integer>
    </dict>
    <key>at</key>
    <dict>
      <key>parenright</key>
      <integer>-40</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>T</key>
      <integer>-50</integer>
      <key>V</key>
      <integer>-20</integer>
      <key>W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>backslash</key>
      <integer>-40</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>T</key>
      <integer>-40</integer>
      <key>V</key>
      <integer>-25</integer>
      <key>W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>d</key>
    <dict>
      <key>v</key>
      <integer>30</integer>
      <key>w</key>
      <integer>30</integer>
    </dict>
    <key>f_f.dlig</key>
    <dict>
      <key>b</key>
      <integer>45</integer>
      <key>public.kern2.h</key>
      <integer>45</integer>
      <key>public.kern2.i</key>
      <integer>20</integer>
      <key>public.kern2.l</key>
      <integer>45</integer>
      <key>public.kern2.t</key>
      <integer>30</integer>
    </dict>
    <key>g.ss01</key>
    <dict>
      <key>T</key>
      <integer>-30</integer>
      <key>V</key>
      <integer>-10</integer>
      <key>b</key>
      <integer>-15</integer>
      <key>c</key>
      <integer>-25</integer>
      <key>d</key>
      <integer>-25</integer>
      <key>f</key>
      <integer>-10</integer>
      <key>g.ss01</key>
      <integer>-20</integer>
      <key>h</key>
      <integer>-8</integer>
      <key>j</key>
      <integer>30</integer>
      <key>k</key>
      <integer>-8</integer>
      <key>l</key>
      <integer>-8</integer>
      <key>m</key>
      <integer>-10</integer>
      <key>n</key>
      <integer>-10</integer>
      <key>p</key>
      <integer>-8</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-18</integer>
      <key>public.kern2.e</key>
      <integer>-18</integer>
      <key>public.kern2.i</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.u</key>
      <integer>-15</integer>
      <key>q</key>
      <integer>-22</integer>
      <key>r</key>
      <integer>-12</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>w</key>
      <integer>-15</integer>
      <key>x</key>
      <integer>-15</integer>
      <key>z</key>
      <integer>-10</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>T</key>
      <integer>-30</integer>
      <key>V</key>
      <integer>-10</integer>
      <key>W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>i</key>
    <dict>
      <key>t</key>
      <integer>15</integer>
    </dict>
    <key>iacute</key>
    <dict>
      <key>icircumflex</key>
      <integer>30</integer>
      <key>public.kern2.i</key>
      <integer>80</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>T</key>
      <integer>-20</integer>
      <key>V</key>
      <integer>-10</integer>
      <key>W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>T</key>
      <integer>-80</integer>
      <key>V</key>
      <integer>-10</integer>
      <key>W</key>
      <integer>-10</integer>
      <key>g.ss01</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-45</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>T</key>
      <integer>-40</integer>
      <key>V</key>
      <integer>-25</integer>
      <key>W</key>
      <integer>-20</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>T</key>
      <integer>-25</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>at</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>T</key>
      <integer>-60</integer>
      <key>V</key>
      <integer>-45</integer>
      <key>W</key>
      <integer>-40</integer>
      <key>g.ss01</key>
      <integer>25</integer>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
      <key>public.kern2.a</key>
      <integer>25</integer>
      <key>v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>35</integer>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>V</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>C</key>
      <integer>30</integer>
      <key>T</key>
      <integer>-28</integer>
      <key>v</key>
      <integer>45</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>45</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>J</key>
      <integer>-45</integer>
      <key>T</key>
      <integer>33</integer>
      <key>V</key>
      <integer>70</integer>
      <key>W</key>
      <integer>60</integer>
      <key>c</key>
      <integer>-53</integer>
      <key>d</key>
      <integer>-53</integer>
      <key>g.ss01</key>
      <integer>-50</integer>
      <key>j</key>
      <integer>-15</integer>
      <key>m</key>
      <integer>-22</integer>
      <key>n</key>
      <integer>-28</integer>
      <key>p</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.E</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>55</integer>
      <key>public.kern2.a</key>
      <integer>-53</integer>
      <key>public.kern2.e</key>
      <integer>-53</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>q</key>
      <integer>-58</integer>
      <key>r</key>
      <integer>-38</integer>
      <key>s</key>
      <integer>-55</integer>
      <key>v</key>
      <integer>-5</integer>
      <key>w</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>-28</integer>
      <key>y</key>
      <integer>-10</integer>
      <key>z</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>J</key>
      <integer>-20</integer>
      <key>T</key>
      <integer>-90</integer>
      <key>V</key>
      <integer>-25</integer>
      <key>W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>T</key>
      <integer>-40</integer>
      <key>V</key>
      <integer>-25</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>V</key>
      <integer>85</integer>
      <key>b</key>
      <integer>45</integer>
      <key>public.kern2.W</key>
      <integer>85</integer>
      <key>public.kern2.Y</key>
      <integer>50</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.h</key>
      <integer>45</integer>
      <key>public.kern2.i</key>
      <integer>20</integer>
      <key>public.kern2.k</key>
      <integer>45</integer>
      <key>public.kern2.l</key>
      <integer>45</integer>
      <key>public.kern2.t</key>
      <integer>30</integer>
      <key>public.kern2.y</key>
      <integer>40</integer>
      <key>w</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>idieresis</key>
      <integer>30</integer>
      <key>igrave</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>c</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.e</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>q</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-5</integer>
      <key>v</key>
      <integer>44</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>c</key>
      <integer>-10</integer>
      <key>d</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.e</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>36</integer>
      <key>r</key>
      <integer>8</integer>
      <key>t</key>
      <integer>40</integer>
      <key>v</key>
      <integer>50</integer>
      <key>w</key>
      <integer>50</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>T</key>
      <integer>-20</integer>
      <key>V</key>
      <integer>-20</integer>
      <key>W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>slash</key>
      <integer>-100</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>four</key>
      <integer>-50</integer>
      <key>seven</key>
      <integer>10</integer>
      <key>slash</key>
      <integer>-40</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>c</key>
      <integer>-20</integer>
      <key>public.kern2.e</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>V</key>
      <integer>-10</integer>
      <key>W</key>
      <integer>-10</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>v</key>
      <integer>25</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>yen</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>30</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>public.kern2.y</key>
      <integer>20</integer>
    </dict>
  </dict>
</plist>
